.navi {
    padding: 10px;
    color: #FFFFFF;
    background-color: #191919;
    .title {
        display: inline-block;
        width: 185px;
    }
    .tab {
        margin-left: 10px;
        display: inline-block;
    }
    :last-child {
        margin-left: 10px;
    }
}