.employmentNoticeList {
  margin-top: 50px;
  .topTab {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    border-bottom: 1px solid #ccc;
    .totalSearchResult {
      padding: 10px;
      width: 260px;
      display: inline-block;
      text-align: left;
    }
    .conditionTab {
      padding: 10px;
      display: inline-block;
    }
  }
  .bottomTab {
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .loadAdditionalData {
    margin: 15px 20px;
    padding: 10px;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    background-color: #ddd;
  }
  .activate {
    color: #000000;
  }
  .deactivate {
    color: #FFFFFF;
  }
}