.jobFairList {
  margin-top: 50px;
  margin-bottom: 10px;
  .conditionTab {
    margin-bottom: 10px;
    padding: 10px 10px 12px;
    font-size: 14px;
    text-align: right;
    color: rgba(0,0,0,0.5);
    border-bottom: 1px solid #ccc;
    span {
      padding: 6px 8px;
      font-size: 13px;
      color: #fff;
      border-radius: 3px;
      background: #1978d1;
    }
  }
  .conditionPopup {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    ul {
      position: fixed;
      left: 0px;
      bottom: 0px;
      margin: 0px;
      padding: 0px;
      width: 100%;
      list-style: none;
      text-align: center;
      background: rgb(255,255,255);
      z-index: 2;
      li {
        padding: 15px;
        font-size: 14px;
      }
      :last-child {
        border-top: 1px solid rgba(0,0,0,0.2);
      }
      .activate {
        color: #1978d1;
      }
    }
  }
}