.jobFairList {
  margin-top: 50px;
  .conditionTab {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    text-align: right;
    color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .conditionPopup {

  }
  .activate {
    display: block;
  }
  .deactivate {
    display: none;
  }
}