.jobFairList {
  margin-top: 50px;
  margin-bottom: 10px;
  .conditionTab {
    padding: 10px 10px 12px;
    font-size: 14px;
    text-align: right;
    color: rgba(0,0,0,0.5);
    border-bottom: 1px solid #ccc;
    span {
      padding: 6px 8px;
      font-size: 13px;
      color: #fff;
      border-radius: 3px;
      background: #1978d1;
    }
  }
}